<!DOCTYPE>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"  ></script>  
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" ></script>   
    <link rel="stylesheet" id="themeStyles" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"/> 
    <title>Bootstrap Dialog Test</title>


    <script type="text/javascript">
        var textbox1 = "";
        var textbox2 = "";
        var textbox3 = "";

        function saveTextBoxes() {
            textbox1 = $("#textbox1").val();
            textbox2 = $("#textbox2").val();
            textbox3 = $("#textbox3").val();
        }
        function alertSavedValues() {
            alert("box 1: " + textbox1 + " box 2: " + textbox2 + " box 3: " + textbox3)
        }

    </script>
</head>
<body>
    <br><br>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Launch Dialog
    </button><br>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="alertSavedValues()">Text Box values</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Input Form</h4>
                </div>
                <div class="modal-body">
                    Text Box 1 <input type="textbox" id="textbox1"> </input><br>
                    Text Box 2 <input type="textbox" id="textbox2"> </input><br>
                    Text Box 3 <input type="textbox" id="textbox3"> </input><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveTextBoxes()">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>